@font-face {
  font-family: 'Banny Bold Round';
  font-style: normal;
  font-weight: normal;
  src: local('Banny Bold Round'), url('../assets/fonts/Banny-BoldRound.woff') format('woff');
}

body {
  margin: 0;
  font-family: "Open sans";
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  font-family: 'Banny Bold Round';
  margin: 0;
  text-transform: uppercase;
  font-size: 36px;
}

button {
  outline: none;
  cursor: pointer;
}

.header__btn-wrapper a[class^="btn-"],
button[class^="btn-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-decoration: none;
}

.btn-colored {
  background: #E8C300;
  border-color: #E8C300;
}

.btn-colored:hover {
  background: #b89900;
  border-color: #b89900;
}

.btn-outline {
  background: transparent;
  border-color: #ffffff33;
}

.btn-outline:hover,
.header__social-link:hover {
  background: #ececec13;
  border-color: #ececec33;
}

.header {
  width: 100%;
  height: 800px;
  display: flex;
  color: white;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  background: transparent;
}

.header__wrapper {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__list {
  display: flex;
  width: 100%;
  border-bottom: 1px #ffffff33 solid;
}

.header__item {
  width: 100%;
  max-width: 133px;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 100%;
  height: 100px;
  text-decoration: none;
  color: white;
}

.header__link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.header__logo {
  min-width: 150px;
  height: 100px;
  margin: 0 35px;
  position: relative;
}

.header__logo img {
  position: absolute;
  left: 0;
  top: 25px;
}

.header__body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content-wrapper {
  width: 100%;
  height: 249px;
  display: flex;
  justify-content: space-between;
}

.header__schedule {
  height: 100%;
  width: 60px;
  font-size: 12px;
  position: relative;
}

.header__schedule div {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin: left center;
  width: 500px;
  height: 0px;
}

.header__content p {
  font-size: 12px;
  letter-spacing: 0.5em;
  margin: 1px 0;
}

.header__title {
  font-size: 96px;
  margin: 0;
}

.header__btn-wrapper a {
  width: 200px;
  margin: 15px 19px;
}

.header__btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50% - 30px);
  bottom: 83px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #ffffff33;
  border-radius: 100%;
}

.header__line {
  width: 1px;
  background-color: #ffffff33;
  position: absolute;
}

.top-line {
  bottom: 143px;
  height: 55%;
  left: calc(50% - .5px);
}

.bottom-line {
  bottom: 0;
  height: 83px;
  left: calc(50% - .5px);
}

.divider {
  width: 60px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  margin: 16px auto;
}

.header__social-links {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.header__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff33;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.article {
  text-align: center;
}

section {
  width: 100%;
  overflow: hidden;
  padding: 100px 80px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.section-body {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section-body .article {
  width: 100%;
  max-width: 600px;
}

.picture {
  position: relative;
  max-height: 475px;
}

.picture img {
  width: 100%;
  box-shadow: 0px 0px 50px #000000;
  border-radius: 5px;
}

.picture-right {
  padding-right: 125px;
}

.picture-left {
  padding-left: 125px;
}

.picture__decor {
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  box-sizing: border-box;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute;
  top: calc(50% - 125px);
}

.picture-right .picture__decor {
  right: 0;
}

.picture-left .picture__decor {
  left: 0;
}

.accent-paragraph {
  font-size: 18px;
  font-weight: bold;
}

.section__header {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .55em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__schedule {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #33333380;
}

.team,
.specialties,
.events {
  color: white;
  background: transparent;
}

form input {
  min-width: 277px;
  height: 60px;
}

form input,
form textarea {
  width: 100%;
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
  text-indent: 20px;
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.5);
}

form label {
  position: relative;
}

form select#booking__people-select {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  opacity: 0;
}

#select-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background-image: url(../assets/images/booking/arrow-down.png);
  background-repeat: no-repeat;
  background-position: center;
}

.booking__form .booking__form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  grid-gap: 10px;
}

.booking__form button {
  margin-top: 10px;
  width: 100%;
}

.specialties {
  padding-bottom: 33px;
}

.specialties .spec-slider {
  width: 100%;
  max-width: 1280px;
}

.specialties .slick-arrow {
  display: none !important;
}

.specialties .slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 45px 0 0;
}

.specialties .slick-dots li button {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100%;
  color: transparent;
  padding: 0;
  margin: 0 12.5px;
}

.specialties .slick-dots li.slick-active button {
  background: white !important;
}

:focus {
  outline: none;
}

.menu .section-body,
.contact .section-body {
  justify-content: center;
  flex-direction: column;
}

.menu__filters {
  display: flex;
  margin: 40px 0 50px;
  flex-wrap: wrap;
}

.menu__filters li {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #33333333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.menu__filters li:last-child {
  border: none;
}

.menu__filters li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.menu__item {
  display: flex;
  padding: 0 10px 35px;
  justify-content: center;
}

.menu__title {
  width: 255px;
  margin: 0;
  font-size: 18px;
  font-family: 'Banny Bold Round';
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu__desc {
  font-size: 12px;
  color: #33333380;
  margin: 0;
  line-height: 8px;
}

.menu__price {
  font-weight: bold;
  font-family: 'Banny Bold Round';
  margin-left: 10px;
}

.events .section__schedule {
  color: white;
}

.events .picture .picture__title {
  width: 80px;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  writing-mode: tb-rl;
  text-indent: 20px;
}

.events .picture .picture__title .title {
  font-size: 24px;
}

.events .picture-left .picture__title {
  border-radius: 0px 5px 5px 0px;
  right: 0;
}

.events .picture-right .picture__title {
  border-radius: 5px 0px 0px 5px;
  left: 0;
  transform: rotateZ(180deg);
}

.galerie {
  padding: 0;
}

.galerie__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 0;
}

.galerie__popup {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}

.galerie__list img {
  width: 100%;
}

.contact__form {
  width: 100%;
  margin: 40px 0;
}

.contact__form .contact__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__form input {
  width: 100%;
  max-width: 30%;
  margin-bottom: 10px;
}

.contact__form textarea {
  height: 120px;
  font-family: "Open sans";
  padding: 20px 0px;
  box-sizing: border-box;
  font-size: 14px;
}

.contact__box {
  display: flex;
  margin-top: 5px;
}

.contact__mini {
  width: 50%;
  font-weight: bold;
  font-size: 12px;
  color: #33333380;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact__form button {
  width: 50%;
}

.map {
  padding: 0;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #ffffff62;
  font-size: 12px;
}

.header__mobile-nav {
  width: 0;
  height: 0;
  z-index: 99;
  position: relative;
}

.mobile_nav_active .backdrop {
  display: none;
}

.backdrop {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer {
  width: 200px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: -100%;
  top: 0;
  transition: all .4s ease-out;
}

.drawer__logo {
  height: 60px;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: #202020;
}

.drawer__logo img {
  width: 50px;
  padding: 5px;
  box-sizing: border-box;
}

.drawer__logo .title {
  font-size: 16px;
}

.drawer__logo p {
  font-size: 10px;
  margin: 0;
}

.drawer__list {
  margin-top: 20px;
}

.drawer__list,
.drawer__item {
  width: 100%;
}

.drawer__link {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-top: 1px solid #33333333;
  color: #202020;
  font-size: 12px;
}

.drawer__link:hover {
  background: #0000002f;
}

.drawer__list:last-child {
  border-bottom: 1px solid #33333333;
}

.drawer__social-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px 20px;
  box-sizing: border-box;
}

.hamburger {
  position: fixed;
  z-index: 100;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 4px;
}

.hamburger__line {
  width: 100%;
  height: 3px;
  background-color: yellow;
}

.drawer__social-links .header__social-link {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
}

.drawer__logo header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1440px) {
  section {
    padding: 100px 40px;
  }
}

@media (max-width: 1340px) {
  .header__content-wrapper {
    width: 90%;
    height: 249px;
    display: flex;
    justify-content: space-between;
  }

  .header__title {
    font-size: 76px;
  }

  .picture {
    transform: scale(.8);
  }
}

@media (max-width: 1300px) {
  .contact__form input {
    max-width: 49%;
  }

  .contact__form .contact__inputs input:last-child {
    max-width: 100%;
  }
}

@media (max-width: 1280px) {
  .section-body {
    justify-content: center;
  }

  .section-body .article {
    order: 2;
  }

  .picture {
    order: 1;
  }

  .menu .section-body .article,
  .contact .section-body .article {
    order: 0;
  }
}

@media (max-width: 1024px) {
  .header__title {
    font-size: 66px;
  }

  .header__btn-wrapper button {
    width: 160px;
    margin: 15px 19px;
  }
}

@media (max-width: 926px) {

  .header__schedule,
  .header__content-wrapper .header__social-links,
  .header__list {
    display: none;
  }

  .header__content-wrapper {
    justify-content: center;
  }

  .header__nav {
    justify-content: center;
  }

  .hamburger {
    display: flex;
  }

  .mobile_nav_active .backdrop {
    display: block;
  }

  .contact__form input {
    max-width: 100%;
  }
}

@media (max-width: 720px) {
  .contact__box {
    flex-direction: column-reverse;
  }

  .contact__form button,
  .contact__mini {
    width: 100%;
  }

  .contact__mini {
    margin: 10px 0;
    justify-content: center;
  }

  .header__logo img {
    height: 100px;
    left: 25px;
  }

  .galerie {
    grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
  }
}

@media (max-width: 650px) {
  #events .picture .picture__title .title {
    font-size: 18px !important;
  }

  .picture {
    max-width: 280px;
  }

  .picture__decor {
    width: 140px;
    height: 140px;
    top: calc(50% - 70px);
    border-width: 10px;
  }

  .picture-right {
    padding-right: 70px;
  }

  .picture-left {
    padding-left: 70px;
  }

  section {
    padding: 30px 10px 60px;
  }

  .section__header,
  .section__schedule {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
  }

  .header__content-wrapper {
    height: 400px;
  }

  .header {
    height: 600px;
  }

  .down-btn {
    position: absolute;
    left: calc(50% - 30px);
    bottom: 30px;
  }

  .title {
    font-size: 26px;
  }

  .header__title {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .header__btn-wrapper a {
    width: 160px;
    margin: 15px 19px;
  }
}

@media (max-width: 400px) {
  .menu__item {
    display: flex;
    padding: 0 10px 35px;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu__price {
    width: 255px;
    margin: 10px 0px 0;
  }

  .header__btn-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .header__btn-wrapper a {
    margin: 15px 0 0;
  }
}