/* #about {}

#team {}

#booking {}

#booking__name {}

#booking__tel {}

#booking__date {}

#booking__email {}

#booking__people {}

#booking__people-select {}

#booking__time {}

#booking__time-select {}

#menu {}

#events {}

#galerie {}

#contact {}

#contact__name {}

#contact__email {}

#contact__tel {}

#contact__message {}

#map {} */


@font-face {
  font-family: 'Banny Bold Round';
  font-style: normal;
  font-weight: normal;
  src: local('Banny Bold Round'), url('../assets/fonts/Banny-BoldRound.woff') format('woff');
}

body {
  margin: 0;
  font-family: "Open sans";
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  font-family: 'Banny Bold Round';
  margin: 0;
  text-transform: uppercase;
  font-size: 36px;
}

button {
  outline: none;
  cursor: pointer;
}

button[class^="btn-"] {
  height: 60px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.btn-colored {
  background: #E8C300;
  border-color: #E8C300;
}

.btn-colored:hover {
  background: #b89900;
  border-color: #b89900;
}

.btn-outline {
  background: transparent;
  border-color: #ffffff33;
}

.btn-outline:hover,
.header__social-link:hover {
  background: #ececec13;
  border-color: #ececec33;
}

.header {
  width: 100%;
  height: 800px;
  display: flex;
  color: white;
  justify-content: center;
  font-weight: bold;
  background-image: url(../assets/images/header/header-bg.png);
  /* background-size: cover; */
  background-position: center;
  text-transform: uppercase;
  position: relative;
}

.header__wrapper {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__list {
  display: flex;
  width: 100%;
  border-bottom: 1px #ffffff33 solid;
}

.header__item {
  width: 100%;
  max-width: 133px;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 100%;
  height: 100px;
  text-decoration: none;
  color: white;
}

.header__link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.header__logo {
  min-width: 150px;
  height: 100px;
  margin: 0 35px;
  position: relative;
}

.header__logo img {
  position: absolute;
  left: 0;
  top: 25px;
}

.header__body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__content-wrapper {
  width: 100%;
  height: 249px;
  display: flex;
  justify-content: space-between;
}

.header__schedule {
  height: 100%;
  width: 60px;
  font-size: 12px;
  position: relative;
}

.header__schedule div {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin: left center;
  width: 500px;
  height: 0px;
}

.header__content p {
  font-size: 12px;
  letter-spacing: 0.5em;
  margin: 1px 0;
}

.header__title {
  font-size: 96px;
  margin: 0;
}

.header__btn-wrapper button[class^="btn-"] {
  width: 200px;
  margin: 15px 19px;
}

.header__btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.down-btn {
  position: absolute;
  left: calc(50% - 30px);
  bottom: 83px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #ffffff33;
  border-radius: 100%;
}

.header__line {
  width: 1px;
  background-color: #ffffff33;
  position: absolute;
}

.top-line {
  bottom: 143px;
  height: 55%;
  left: calc(50% - .5px);
}

.bottom-line {
  bottom: 0;
  height: 83px;
  left: calc(50% - .5px);
}

.divider {
  width: 60px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  margin: 16px auto;
}

.header__social-links {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.header__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff33;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.article {
  text-align: center;
}

section {
  width: 100%;
  padding: 100px 80px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.section-body {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-body .article {
  width: 600px;
}

.picture {
  position: relative;
  max-height: 475px;
}

.picture img {
  box-shadow: 0px 0px 50px #000000;
  border-radius: 5px;
}

.picture-right {
  padding-right: 125px;
}

.picture-left {
  padding-left: 125px;
}

.picture__decor {
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  box-sizing: border-box;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute;
  top: calc(50% - 125px);
}

.picture-right .picture__decor {
  right: 0;
}

.picture-left .picture__decor {
  left: 0;
}

.accent-paragraph {
  font-size: 18px;
  font-weight: bold;
}

.section__header {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .55em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__schedule {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #33333380;
}

.team {
  background-image: url(../assets/images/team/team-bg.png);
}

.team,
.specialties {
  color: white;
}

form input {
  width: 277px;
  width: 100%;
  height: 60px;
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
  text-indent: 20px;
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.5);
}

form label {
  position: relative;
}

form select {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
}

.booking__form .booking__form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  grid-gap: 10px;
}

.booking__form button {
  margin-top: 10px;
  width: 100%;
}

.specialties {
  background-image: url(../assets/images/specialties/spec-bg.png);
  display: block;
}

/* 

.about {}


.booking {}

.menu {}

.menu__filters {}

.menu__filter {}

.menu__list {}

.menu__item {}

.menu__header {}

.menu__title {}

.menu__desc {}

.menu__price {}

.events {}

.galerie {}

.owl-carousel {}

.contact {}

.contact__form {}

.contact__name {}

.map {} */